<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="7.0.10" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net48" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net48" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net48" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NUnit" version="4.1.0" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net48" />
  <package id="Selenium.Support" version="4.18.1" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.18.1" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="122.0.6261.11100" targetFramework="net48" />
  <package id="Selenium.WebDriver.Extensions" version="4.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>